.error{
    color:red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(166, 1, 216);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(217, 113, 240);
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(225, 158, 234);
    padding: 20px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(185, 15, 227);
    border-radius: 10px;
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    /*border-color: rgb(107, 0, 128);*/
    /*border-style: solid;*/
    /*border: none;*/
    margin-bottom: 10px;
}

.textos{
    width: 50%;
    border: 2px solid black;
    font-size: 16px;
}

button{
    padding: 10px;
    background-color:rgb(212, 141, 231);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    /*margin-top: 10px;*/

    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.botaoCadastro{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover{
    background-color:rgb(192, 43, 226);
}

.lista{
    margin-top: 20px;
    border: 1.5px solid purple;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(185, 15, 227);
}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-color: rgb(127, 55, 145);
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: rgb(212, 141, 231);
}