img{
    width: 150px;
    height: auto;
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.05);
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(219, 147, 246);
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: rgb(151, 67, 229);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    border-style: solid 100px;
    border-color: blueviolet;
}

button:hover{
    background-color: transparent;
}

.number{
    color: rgb(226, 43, 43);
}