.calculadora{
    background-color: rgb(198, 147, 246);
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid rgb(121, 0, 173);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient( rgb(118, 221, 239), rgb(151, 30, 250), rgb(248, 88, 210));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color: white;
    width: 93%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

    font-size: 2rem;
    margin-bottom: 20px;
    border: 3px solid rgb(235, 167, 248);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*Fechamento tela*/

.linha{
    display:flex;
    flex-direction: row;
    margin-top: 5px;
}/*Fechamento linha*/

.configuracaoBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento configuracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 1px solid rgb(121, 0, 173);
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}

button:hover{
    background-color: transparent;
}

button:last-child{
    margin-right: 0;
}

.clear{
    width: 100px;
}