body {
    background-color: rgb(237, 159, 255);
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
}

ul{
    margin: 0%;
    padding: 0%;
    display:flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover{
    background-color: rgb(194, 244, 118);
    color: black;
}

.instagram{
    background-image: linear-gradient(to bottom, rgba(247, 209, 0, 1),
     rgba(248, 99, 1, 1), rgba(248, 7, 12, 1),
     rgba(200, 41, 107, 1), rgba(127, 59, 177, 1));
    color: white;
}

.twitter{
    background-color: rgba(29, 161, 242, 1);
    color: white;
}

.facebook{
    background-color: rgba(1, 120, 246, 1);
    color: white;
}